{% extends 'template.html.twig' %}

{% block title %}New HR Manager{% endblock %}

{% block body %}
    <h1>Create new HR manager</h1>
    
<div class="box-footer">
                <button type="submit" class="btn btn-info pull-right"><a href="{{ path('app_g_r_h_index') }}">back to list</a></button>
              </div>
    {{ include('employe/_form.html.twig') }}

    
{% endblock %}
