{% extends 'base.html.twig' %}

{% block title %}Edit PayRoll{% endblock %}

{% block body %}
    <h1>Edit PayRoll</h1>

    {{ include('pay_roll/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pay_roll_index') }}">back to list</a>

    {{ include('pay_roll/_delete_form.html.twig') }}
{% endblock %}
