{% extends 'template.html.twig' %}

{% block title %}New SalaryAdvance{% endblock %}

{% block body %}
    <h1>Create new SalaryAdvance</h1>

    {{ include('salary_advance/_form.html.twig') }}

{% endblock %}
